@charset "utf-8";
@font-face {
	font-family: "Fira Mono";
	src: url("FiraMono-Regular.otf") format("opentype");
}
*{
	margin: 0px;
	padding: 0px;
}
body, html{
	font-family: 'Fira Mono', 'Droid Sans', 'Helvetica', Arial, sans-serif;
	background-color: #000000;
	width: 100%;
	height: 100%;
	color: white;
}
#caja{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 5px #808080;
	moz-box-shadow: 0px 0px 5px 5px #808080;
	-webkit-box-shadow: 0px 0px 5px 5px #808080;
	padding: 0.5em;
	/*width: 85%;*/
	margin: 5% 5% 1em 5%;
}
h1, h2, h3{
	text-align: center;
	margin-bottom: 1em;
	width: 90%;
	margin-left: 5%;
}
#toque{
	width: 100%;
	height: 301px;
	color: goldenrod;
	background: url(crono.png) center top no-repeat;
}
#crono{
	padding-top: 85px;
	font-size: 4em;
}
#botones{
	text-align: center;
}
p{
text-align: center;
}